/* Grow effect */
.grow {
 transition: transform 0.4s;
 -webkit-transition: -webkit-transform 0.4s;
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
 transform: scale(1.15);
 -webkit-transform: scale(1.15);
}