/* Wobble Infinite effect */
.wobble-inf:hover, .wobble-inf:focus, .wobble-inf:active {    
    animation: wobble-loop infinite 0.2s linear;
    -webkit-animation: wobble-loop infinite 0.2s linear;       
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); /* Firefox fix for pixelated edges during transform effects*/
}

@keyframes wobble-loop {
  50% {
        transform: translateX(3px) rotate(2deg);
  }

  100% {
        transform: translateX(-3px) rotate(-2deg);
  }
}

@-webkit-keyframes wobble-loop {
  50% {
        -webkit-transform: translateX(3px) rotate(2deg);
  }

  100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
  }
}