/* Float Down effect */
.float-down {
    transition-duration: transform 0.25s;
    -webkit-transition-duration: transform 0.25s;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0); /* Firefox fix for pixelated edges during transform effects*/
}
.float-down:hover, .float-down:focus, .float-down:active {
    transform: translateY(6px);
    -webkit-transform: translateY(6px);
}